In [1]:
import pandas as pd
import numpy  as np

data_names = ['V','F','C','M','del']

data  = pd.read_csv("../data/Data.dat",sep='\t',names=data_names)
data.drop('del',axis=1,inplace=True)
data.insert(0,'X0',np.ones(60),True)
#1
temp =[data['X0'].head(59).values,
       data['F'].head(59).values,
       data['M'].tail(59).values,
       data['V'].head(59).values]
x = pd.DataFrame(temp,index=['X0','F','M','V'])

y = pd.DataFrame([data['C'].tail(59).values],index=['C'])

#2
# temp =[data['X0'].head(59).values,
#        data['M'].head(59).values,
#        data['F'].head(59).values,
#        data['C'].tail(59).values]
# x = pd.DataFrame(temp,index=['X0','M','F','C'])
# 
# y = pd.DataFrame([data['V'].tail(59).values],index=['V'])

#3
# temp =[data['X0'].head(59).values,
#        data['C'].head(59).values,
#        data['V'].tail(59).values,
#        data['F'].tail(59).values]
# x = pd.DataFrame(temp,index=['X0','C','V','F'])
# 
# y = pd.DataFrame([data['M'].tail(59).values],index=['M'])

#4
# temp =[data['X0'].head(59).values,
#        data['M'].head(59).values,
#        data['V'].tail(59).values,
#        data['C'].head(59).values]
# x = pd.DataFrame(temp,index=['X0','M','V','C'])
# 
# y = pd.DataFrame([data['F'].tail(59).values],index=['F'])

#5
# temp =[data['X0'].head(59).values,
#        data['M'].head(59).values,
#        data['F'].tail(59).values,
#        data['V'].tail(59).values]
# x = pd.DataFrame(temp,index=['X0','M','F','V'])
# 
# y = pd.DataFrame([data['C'].tail(59).values],index=['C'])

#6
# temp =[data['X0'].head(59).values,
#        data['V'].head(59).values,
#        data['C'].tail(59).values,
#        data['M'].tail(59).values]
# x = pd.DataFrame(temp,index=['X0','V','C','M'])

# y = pd.DataFrame([data['F'].tail(59).values],index=['F'])


x

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
X0,1.0,1.0,1.0000,1.0000,1.000,1.0000,1.0000,1.000,1.000,1.000,...,1.000,1.0000,1.000,1.0000,1.000,1.0000,1.000,1.0000,1.0000,1.0
F,1.0,1.0,1.0000,1.0000,1.000,1.0000,1.0000,1.000,1.000,1.000,...,1.000,1.0000,1.000,1.0000,1.000,1.0000,1.000,1.0000,1.0000,1.0
M,0.0,0.0,0.0000,0.0005,0.001,0.0014,0.0018,0.002,0.003,0.004,...,0.004,0.0035,0.003,0.0025,0.002,0.0015,0.001,0.0005,0.0001,0.0
V,0.0,0.0,0.0001,0.0010,0.010,0.0200,0.0250,0.030,0.035,0.040,...,0.000,0.0000,0.000,0.0000,0.000,0.0000,0.000,0.0000,0.0000,0.0

In [2]:
    


z=0
for i in range(59):
 z += np.outer(x[i].values,x[i].values)
 
z
ch = 0

for i in range(59):
    ch += x[i]*y.values[0][i]

inv = np.linalg.inv(z)
a = np.dot(inv,ch)
a

array([ 0.97122858,  0.05608755, 30.70324009, -1.38762198])

In [3]:
y

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
C,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.27,1.24,1.21,1.18,1.15,1.12,1.09,1.06,1.03,1.0

In [4]:
znR = ((y-np.average(y))**2).T.sum()

yR = (a*x.T).sum(axis = 1)

chR = ((yR-np.average(y))**2).T.sum()

R = chR/znR
R

C    0.954322
dtype: float64